/* Importação da font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*ROOT - VAR - COLOR*/
:root{
    --amarelo: #d5bf8e;
    --verde-escuro: #356224;
    --verde-claro: #95cb81;
    --preto: #252525;
    --branco: #e1e1e1;
    --cinza: #D1D3D4
}
/* ========================================================   BODY    ================================================================================= */
body{
  background: linear-gradient(to top, #356224,#95cb81,#e1e1e1 );
}
.header-container{
    height: 100vh;
    background: url(/imgs-variadas/fundo-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
   
}
.navbar .logo{
    font-size: 2.1rem;
    font-weight: 800;
}
.navbar .menu-links{
    display: flex;
    gap: 40px;
    list-style: none;
   
}
.navbar a{
    color: var(--preto);
    text-decoration: none; 
    transition: 0.2s ease;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}
.navbar a:hover{
    color: var(--branco);  
    background-color: var(--verde-escuro);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}
.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.hero-section .content{
    color: #252525;
}
.hero-section .content h1{
    font-size: 3.1rem;
    color: var(--preto);
  
}
.hero-section .content p{
    font-size: 1.4rem;
    font-weight: 800;
    max-width: 600px;
    color: var(--branco);

}
.hero-section .content  button{
  color: white;
    background: var(--preto);
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    /* margin-left: 75%; */
    padding: 12px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 5px;
    
}
.hero-section .content  button:hover{
    background: var(--branco);
    color: #356224;
}
#menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
}
#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}
.gestao{
    height: 100vh;
   font-family: 'Poppins', sans-serif;
   height: 100vh;
   background: url(/imgs-variadas/fundo-3.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.teste{
  width: 89px;
}
.gestao-section{
  width: 100vw;
  height: 100vh;
}
.gestao-content h2{
  font-size: 3.1rem;
font-weight: 700;
  color: var(--preto);
  margin-bottom: 30px;
  margin-left: 30px;
}
.dicas li{
  list-style:circle;
  margin-left: 5%;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--branco);
  justify-items: flex-start;
}



/* Solução */
.solucao-title{
  align-items: flex-start;
  padding: 95px;
  padding-left: 555px;
 
  
}
.solucao-title p{
font-size: 25px;
color: #464545;
}
.solucao-title h3{
font-size: 60px;
}
.solucao-section{
padding-left: 500px;
padding-top: 200px;

}
.solucao-section img{
  justify-content: flex-start;
}
.solucao-todo {
display: flex;
flex-wrap: wrap;
justify-content: flex-end; /* Alinha os itens para a direita */
}
.solucao-tudo {
display: flex;
flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
justify-content: flex-end; /* Alinha os itens para a direita */
padding-left: 408px;
margin-bottom: 10px; /* Espaçamento entre as seções */
font-size: 30px;


}

.solucao-1, .solucao-2, .solucao-3, .solucao-4{
width: 45%; /* 48% para garantir um pequeno espaço entre as colunas */
box-sizing: border-box; /* Inclui padding e border na largura total */
margin-bottom: 90px; /* Espaçamento entre as seções */

}

.solucao-tudo p{
font-size: 25px;
}

.solucao-todo{

height: 100vh;
  background: url(/imgs-variadas/fundo-2.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}


/* ========================================================  MODAL LOGIN  ================================================================================= */


#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  transition: 0.2s ease-in-out;
}
.login-modal {
  max-width: 500px;           /* Limite de largura */
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  
}
.close {
  color: #1d1d1d;
  font-size: 28px;
  font-weight: bold;
  margin-left: 100%;
}

.wrapper{
  overflow: hidden;
  max-width: 600px;
  background: #fff;
  top: 0;
  left: 0;
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  width: 100%;
  margin-left: 190%;

  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #356224, #96e95793);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #356224;

  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #356224;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(left, #356224, #96e95793);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

/* ========================================================  FOOTER   ================================================================================= */
footer{
  background: var(--preto);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.logo{
  margin-left: 30px;
  margin-top: 40px;
}
.sobre{
  display: inline;
  justify-content: center;
  text-align: justify;
  margin-right: 50px;
}
.links{
  display: inline;
}
.links ul{
  list-style: none;

}
/* ========================================================  RESPONSIVIDADE  ================================================================================= */

@media screen and (max-width: 768px) {
    header{
       padding: 10px ; 
    }
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    .navbar .logo {
        font-size: 1.7rem;
      }
    #close-menu-btn, #menu-btn{
        display: block;
    }
    .navbar .menu-links{
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background-color: #e1e1e1;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links{
        left: 0;
    }

    .navbar a{
        color: #356224;
    }

    .hero-section .content{
        text-align: center;
    }

    .hero-section .content :is(h1, p){
        max-width: 100%;
    }

    .hero-section .content h1{
        font-size: 2.3rem;
        line-height: 60px;
    }
    
    .hero-section .content button{
        padding: 9px 18px;
        margin-left: 12px;
    }
}